/* buttons section styles */

.layout-desktop .detailPagePrimaryContainer.padded-left.padded-right {
    display: block !important;
    height: auto;
    z-index: 1 !important;
}

.layout-desktop .mainDetailButtons {
    margin-top: 1.5em;
  }
  
  .layout-desktop .btnPlay {
    /*border: 2px solid #cecece;*/
    border-radius: 2em !important;
    /*width: 7vw;*/
    background-color: white;
    /*padding: 0.4em!important;*/
    /*margin-right: 30%!important;*/
  }
  
  .layout-desktop .btnPlay:hover {
    background-color: #434343;
  }
  
  .layout-desktop .btnPlay::after {
    content: attr(title);
    margin: 0 10px 0 2px;
    color: black;
  }
  
  .layout-desktop .material-icons.detailButton-icon.play_arrow {
    color: black;
  }
  
  .layout-desktop .btnPlay.detailButton {
    flex-direction: row;
  }
  
  .layout-desktop .listViewUserDataButtons {
    display: block;
    position: relative;
    top: 69%;
    right: 0;
  }
  
/*layout mobile*/
/* play button */
.layout-mobile .mainDetailButtons {
    margin-top: 1.5em;
    justify-content: left;
  }
  
  .layout-mobile .btnPlay {
    border-radius: 2em;
    /*width: 7vw;*/
    background-color: white;
    /*padding: 0.4em!important;*/
    /*margin-right: 30%!important;*/
    color: black;
  }
  
  .layout-mobile .btnPlay::after {
    content: attr(title);
    margin: 0 10px 0 2px;
    color: black;
  }
  
  .layout-mobile .btnPlay.detailButton {
    flex-direction: row;
  }  